---
# tasks file for ansible-mono

- include: install-ubuntu-precise.yml
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'precise'
  
- include: install-ubuntu-trusty.yml
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'trusty'

# @TODO better verion detection
- include: install-centos-6.yml
  when: ansible_distribution == 'Centos' and ansible_lsb.major_release|int >= '6'
  
- include: install-centos-7.yml
  when: ansible_distribution == 'Centos' and ansible_lsb.major_release|int >= '7'
  
- include: install-redhat.yml
  when: ansible_distribution == 'Redhat' 
